[Unit]
Description=Revvy service
After=bluetooth.service sound.target hciuart.service polkit.service
Wants=bluetooth.service sound.target hciuart.service dbus.service
StartLimitIntervalSec=1

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/env python3 /home/pi/RevvyFramework/launch_revvy.py

[Install]
WantedBy=bluetooth.target
